<!DOCTYPE html>
<html>
<head>
    <title>
        Communication Center
    </title>
    <script src="node_modules/fuzzy-time/dist/fuzzy-time.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src ="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src ="/socket.io/socket.io.js"></script>
    <style>
            
        </style>
    <body>
        <div class="row">
            <div class="col-md-6 offset-md-3" style="margin-top:25px;padding:20px;">
                {{{body}}}
            </div>
        </div>
        
    </body>
</head>

</html>
